/* Fonts */
@font-face {
    font-family: "Mat Saleh";
    src: url("/static/MatSaleh.otf");
}

@font-face {
    font-family: "Unageo";
    src: url("/static/Unageo-Medium.ttf");
}

@font-face {
    font-family: "Unageo";
    src: url("/static/Unageo-Medium-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Unageo";
    src: url("/static/Unageo-ExtraBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Unageo";
    src: url("/static/Unageo-ExtraBold-Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* General */
:root {
    --yellow: #e8e6b5;
    --purple: #b36fab;
    --blue: #44b7b7;
    --black: #514659;
    --radius: 5px;
}

body {
    background: var(--yellow);
    color: var(--black);
    font-family: "Unageo", sans-serif;
    border-color: var(--purple);
    max-width: 700px;
    margin: auto;
}

a {
    color: var(--black);
}

h1, h2, h3, h4 {
    color: var(--purple);
    font-family: "Mat Saleh", sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 26px;
    /*border: 2px solid var(--purple);*/
    box-shadow: 3px 3px 0px 0px var(--black);
    background: var(--purple);
    color: var(--yellow);
    border-radius: var(--radius);
    text-align: center;
    padding: 5px;
}

h3 {
    font-size: 22px;
}

textarea {
    font-family: "Unageo", sans-serif;
    font-size: 16px;
    color: var(--black);
    border: 3px solid var(--purple);
    border-radius: var(--radius);
    padding: 10px;
    background: var(--yellow);
    height: 200px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    resize: vertical;
    margin: 10px;
}

input[type=text], input[type=password], input[type=url], input[type=datetime-local] {
    background: var(--yellow);
    margin: 10px;
    font-family: "Unageo", sans-serif;
    font-size: 16px;
    color: var(--black);
    border: 3px solid var(--purple);
    border-radius: var(--radius);
    padding: 5px;
    width: 300px;
    max-width: calc(100% - 40px);
}

.button, input[type=submit] {
    cursor: pointer;
    font-family: "Unageo", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--yellow);
    background: var(--purple);
    border: 0px;
    border-radius: var(--radius);
    padding: 8px;
}

select {
    border: none;
    background-color: var(--purple);
    color: var(--yellow);
    border-radius: var(--radius);
    font-size: 16px;
    padding: 8px;
}

div.main {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

div.page-header {
    box-shadow: 5px 5px 0px 0px var(--black);
    border: 1px solid var(--black);
    border-radius: var(--radius);
    margin: 10px;
    padding: 5px;
}

.flashes {
    border: 3px solid var(--blue);
    border-radius: var(--radius);
    margin: 20px;
}

#message-box {
    box-sizing: border-box;
    margin: 10px;
    border-width: 3px;
    border-radius: var(--radius);
    border-style: solid;
    padding: 10px;
    background-color: var(--yellow);
}

.title-image {
    image-rendering: pixelated;
    width: 512px;
    max-width: 80%;
    margin: 10px;
}

.profile-link {
    font-weight: bold;
    text-decoration: none;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.user-list-entry-container {
    border-radius: var(--radius);
    background: var(--black);
    box-shadow: 2px 2px 0px 0px var(--black);
    border: 1px solid var(--black);
    overflow: hidden;
}

.user-list-entry {
    box-sizing: border-box;
    height: 100%;
    background: var(--yellow);
    /*border-radius: var(--radius);*/
    padding: 5px;

    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}

.user-list-entry span {
    font-weight: bold;
    color: var(--purple);
}

.info {
    line-height: 2;
}

.actions {
    margin: 10px 0px;
}

/* Sliders (e.g. volume) */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: var(--black); /* Otherwise white in Chrome */
  height: 4px;
  border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: var(--purple);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: var(--purple);
    cursor: pointer;
}

/* Navbar */
div.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

#activity-indicator {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: var(--blue);
    display: inline-block;
}

/* Upload/Edit Form */

div.upload-form {
    margin-bottom: 10px;
}

div.upload-form input[type=text], div.upload-form input[type=url] {
    width: calc(100% - 20px);
    box-sizing: border-box;
}

input[type=file] {
    margin: 5px;
}

/* Profile */
.profile-name {
    text-align: center;
    font-size: 40px;
}

.big-pfp-container {
    margin: 0 auto;
    width: 200px;
    max-width: 40%;
    background: var(--purple);
    padding: 5px;
    border-radius: var(--radius);
}

.big-pfp {
    width: 100%;
    max-height: 200px;
    margin: 0px;
    padding: 0px;
    display: block;
    border-radius: calc(var(--radius) / 2);
}

.small-pfp {
    max-width: 32px;
    max-height: 32px;
    border-radius: calc(var(--radius) / 2);
    border: solid 2px var(--purple);
    background-color: var(--purple);
    vertical-align: middle;
}

.profile-bio {
    margin: 10px 0px;
}

.profile-action {
    margin-bottom: 20px;
}

.profile-edit-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.playlist-list-entry {
    box-shadow: 3px 3px 0px 0px;
    border-radius: var(--radius);
    border: 1px solid var(--black);
    padding: 10px;
    margin: 10px 0px;
}

.visibility-indicator {
    opacity: 50%;
}

.playlist-name {
    text-decoration: none;
}

.draggable-song {
    /*box-shadow: 0px 0px 5px 0px;*/
    border: 2px solid;
    border-radius: var(--radius);
    padding: 5px 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Coloris Color Picker */

.clr-field button {
    width: 22px !important;
    height: 22px !important;
    left: 7px;
    right: auto;
    border-radius: calc(var(--radius) / 2);
}

.clr-field input {
    padding-left: 36px;
    width: 100px;
    cursor: pointer;
}

/* Filters on /songs page */
.filter {
    margin: 5px;
}

.filter-remove {
    font-size: 12px;
}

/* Song Entry in Song List */
.song-list-controls {
    padding-bottom: 5px;
}

div.song-list-songs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

div.song {
    background: var(--yellow);
    box-shadow: 2px 2px 0px 0px;
    border-radius: var(--radius);
    border: 1px solid var(--black);
    overflow: hidden;
}

div.song-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.song-list-pfp-container {
    margin: 5px;
}

div.song-info {
    font-family: "Unageo", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0px;
    column-gap: 10px;
    align-items: center;
    flex-grow: 1;
    margin: 5px 0px;
    min-width: 0;
    overflow: hidden;
}

/* Artist on separate line for mobile */
@media screen and (max-width: 480px) {
    div.song-info {
        flex-direction: column;
        align-items: flex-start;
    }

    div.song-info-sep {
        display: none;
    }
}

.song-title a {
    text-decoration: none;
}

div.song-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px;
}

.song-list-button {
    border: none;
    background: var(--yellow);
    cursor: pointer;
    padding: 0px;
}

.song-list-button img {
    image-rendering: pixelated;
    width: 32px;
    vertical-align: middle;
}

div.song-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
}

.song .song-details {
    margin: 10px;
}

div.top-level-comment {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: var(--radius);
}

div.reply-comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: var(--radius);
}

div.comment-button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

[hidden] {
    display: none !important;
}

/* Song Player */
#scroll-padding {
    height: 160px;
}

div.player-container {
    position: fixed;
    max-width: 700px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

div.player {
    margin: 10px;
    padding: 10px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 10px 0px;
    border: 2px solid;
    border-radius: var(--radius);
    background: var(--yellow);
}

.mini-player {
    margin: 10px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px 0px;
    border: 2px solid;
    border-radius: var(--radius);
    background: var(--yellow);

    display: flex;
    align-items: center;
}

div.player-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    /*padding: 10px;*/
}

.player-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*padding: 0px 10px;*/
}

.mini-player-controls {
    margin: 5px;
    display: flex;
    gap: 5px;
}

.mini-player-label {
    white-space: nowrap;
}

#player-title {
    text-decoration: none;
}

.player-volume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.player-button {
    display: inline-block;
    background: var(--yellow);
    cursor: pointer;
    padding: 0px;
    border: none;
}

#position-slider {
    width: 200px;
}

@media screen and (max-width: 480px) {
    #position-slider {
        width: 20%;
    }
}

#position-slider::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: var(--radius);
}

#position-slider::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: var(--radius);
}

.player-button img {
    image-rendering: pixelated;
    width: 32px;
    vertical-align: middle;
}

#volume-slider {
    width: 100px;
    max-width: 25%;
    margin-left: 10px;
}

.player-label {
    font-size: 14px;
}

/* Activity */
div.comment-notification {
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 0px 0px;
    border: 1px solid;
    border-radius: var(--radius);
}

/* Platform-specific global overrides */
@media screen and (max-width: 480px) {
    .desktop-only {
        display: none;
    }
}

/* Jam Events */
.jam-event-list-title {
    margin-left: 20px;
}
