[Unit]
Description=Little Song Place Production Server
After=multi-user.target

[Service]
WorkingDirectory=/var/www/littlesongplace
ExecStart=/var/www/littlesongplace/service/run.sh 8080 /var/www/littlesongplace-data
Restart=always

[Install]
WantedBy=multi-user.target

