[Unit]
Description=Little Song Place Test Server
After=multi-user.target

[Service]
WorkingDirectory=/var/www/littlesongplace-test
ExecStart=/var/www/littlesongplace-test/service/run.sh 8081 /var/www/littlesongplace-test-data
Restart=always

[Install]
WantedBy=multi-user.target

