{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block body %}

<h1>About littlesong.place</h1>

<p>
Hello there, thanks for stopping by!
</p>

<p>
This site is meant to be a little place for your songs.  Of course, there are
already lots of <em>big</em> places for songs out there.  But I wanted
somewhere to share music that was free from algorithms, ads, rankings, and the
general noise that comes with most of those big places.  A place that
encourages and celebrates creativity, and a place for community with other
humans.  If any of that resonates with you, then welcome!  I hope you enjoy
your stay.
</p>

<p>
I also love <a href="https://indreams.me">Dreams</a>, and the music community
that formed there.  But now that live service support for Dreams has ended, and
given the uncertain future of Media Molecule and the games industry more
broadly, I worry that it's only a matter of time before the servers shut down
for good.  Part of my goal with this site is to give others a place to archive
their music from Dreams.  But beyond that, I hope it can also eventually become
a similar platform for creativity and community of its own - albeit on a much
smaller scale.
</p>

<p>
The site is open source!  You can
<a href="https://github.com/cfulljames/littlesongplace">view it on GitHub</a>.
</p>

<h2>Contact Me!</h2>

<p>
I'm always looking for new ways to improve the site!  If you have ideas (or if
you encounter a bug), there are a few ways you can get in touch:
<ul>
    <li>Open an issue on <a href="https://github.com/cfulljames/littlesongplace/issues">GitHub</a></li>
    <li>Leave a comment on <a href="/users/cfulljames">my profile</a></li>
    <li>Send an email to <a href="mailto:littlesongplace@gmail.com">littlesongplace@gmail.com</a></li>
    <li>Send me (@cfulljames) a message on Discord</li>
</ul>
</p>

<p>
<br/>
Happy musicing!
</p>
<p>
- cfull
</p>

{% endblock %}
