{% extends "base.html" %}

{% block title %}Activity{% endblock %}

{% block body %}

{% if comments %}
<h1>activity</h1>

    {% for comment in comments %}
        <div class="comment-notification">
            <a href="/users/{{ comment['comment_username'] }}" class="profile-link">{{ comment['comment_username'] }}</a>
            {% if comment['replyto_content'] %}
            replied to &quot;{{ comment['replyto_content'] }}&quot;
            {% else %}
            commented
            {% endif %}
            on
            {% if 'songid' in comment %}
            <a href="/song/{{ comment['content_userid'] }}/{{ comment['songid'] }}?action=view">{{ comment['title'] }}</a> -
            {# Nothing to do for user profile #}
            {% elif 'playlistid' in comment %}
            <a href="/playlists/{{ comment['playlistid'] }}">{{ comment['name'] }}</a> -
            {% elif 'eventid' in comment %}
            <a href="/jams/{{ comment['jamid']}}/events/{{ comment['eventid'] }}">{{ comment['title'] }}</a> -
            {% endif %}
            <a href="/users/{{ comment['content_username'] }}" class="profile-link">{{ comment['content_username'] }}</a>
            <div class="top-level-comment">
                <a href="/users/{{ comment['comment_username'] }}" class="profile-link">{{ comment['comment_username'] }}</a>:
                {{ comment['content'] }}

                <div class="comment-button-container">
                    {% if comment['replytoid'] %}
                        <!-- Comment is already part of a thread; reply to the same thread -->
                        <a href="/comment?threadid={{ comment['threadid'] }}&replytoid={{ comment['replytoid'] }}">Reply</a>
                    {% else %}
                        <!-- Comment is a top-level, reply to the comment -->
                        <a href="/comment?threadid={{ comment['threadid'] }}&replytoid={{ comment['commentid'] }}">Reply</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}

    Nothing to show here yet!

{% endif %}

{% endblock %}
