<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css?v=6"/>
        <link rel="icon" type="image/x-icon" href="/static/lsp_notes.png?v=1"/>
        <link rel="manifest" href="/manifest.json?v=1"/>
        <script src="/static/player.js?v=5"></script>
        <script src="/static/nav.js?v=4"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Include coloris library for color picker -->
        <link rel="stylesheet" href="/static/coloris.min.css"/>
        <script src="/static/coloris.min.js"></script>

        <!-- Page-specific head fields -->
        {%- block head %}{% endblock %}
    </head>
    <body>

        <!-- Embedded image data -->
        {{ gif_data|safe }}

        <div class="site-title">
            <span style="--i:0">l</span>
            <span style="--i:1">i</span>
            <span style="--i:2">t</span>
            <span style="--i:3">t</span>
            <span style="--i:4">l</span>
            <span style="--i:5">e</span>
            <span style="--i:6">&nbsp;</span>
            <span style="--i:7">s</span>
            <span style="--i:8">o</span>
            <span style="--i:9">n</span>
            <span style="--i:10">g</span>
            <span style="--i:11">&nbsp;</span>
            <span style="--i:12">p</span>
            <span style="--i:13">l</span>
            <span style="--i:14">a</span>
            <span style="--i:15">c</span>
            <span style="--i:16">e</span>
        </div>

        <div class="layout-flex">

            <!-- Navbar -->
            <div class="layout-side">
                <div class="sticky">
                    <div class="navbar">
                        <a href="/">Home</a>
                        <a href="/jams/1">Jam</a>
                        <a href="/about">About</a>
                        <a href="/site-news">News</a>
                        <a href="/songs">Random</a>
                    </div>

                    <div class="navbar">
                        <a href="/users/{{ session["username"] }}" class="nav-logged-in" id="my-profile" hidden>My Profile</a>
                        <a href="/activity" class="nav-logged-in" hidden><span id="activity-indicator" hidden></span>Activity</a>
                        <a href="/logout" class="nav-logged-in" hidden>Sign Out</a>

                        <a href="/signup" class="nav-logged-out">Create Account</a>
                        <a href="/login" class="nav-logged-out">Sign In</a>

                        <span class="nav-logged-in" id="logged-in-status" hidden></span>
                    </div>
                </div>
            </div>

            <div class="layout-main">
                <!-- Flashed Status Messages -->
                <div id="flashes-container">
                    {% with messages = get_flashed_messages(with_categories=True) -%}
                    {% if messages  -%}
                    <div class="flashes">
                        <ul>
                            {% for category, message in messages %}
                            <li class="flash-msg {{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {%- endif %}
                    {%- endwith %}
                </div>

                <!-- Page-Specific Content -->
                <div class="main" id="main" data-bgcolor="{{ bgcolor }}" data-fgcolor="{{ fgcolor }}" data-accolor="{{ accolor }}" data-username="{{ session['username'] }}">{% block body %}{% endblock %}</div>
            </div>
        </div>

        <!-- Padding to prevent player from obscuring content -->
        <div id="scroll-padding"></div>

        <div class="player-container" id="player-container">
            <!-- Message Box -->
            <div id="message-box" hidden></div>

            <!-- Song Player -->
            <div class="player" id="player" hidden>
                <div class="player-info">
                    <img id="player-pfp" class="small-pfp" src="" onerror="this.style.display = 'none'">
                    <a id="player-title"></a>
                    -
                    <div>
                        <a id="player-artist" class="profile-link" hidden></a>
                        <span id="player-collabs"></span>
                    </div>
                </div>
                <div class="player-controls">
                    <button onclick="songPrevious()" class="player-button">
                        <img class="lsp_btn_prev02" alt="Previous">
                    </button>
                    <button onclick="songPlayPause()" class="player-button">
                        <img class="lsp_btn_pause02" alt="Play" id="play-pause-button">
                    </button>
                    <button onclick="songNext()" class="player-button">
                        <img class="lsp_btn_next02" alt="Next">
                    </button>
                    <input id="position-slider" name="song-position" type="range" min="0" max="1" step="any" value="0"/>
                    <span class="player-time" id="player-current-time">0:00</span>
                    <span class="player-time-sep">/</span>
                    <span class="player-time" id="player-total-time">0:00</span>
                    <audio id="player-audio"></audio>
                </div>
                <div class="player-volume desktop-only">
                    <label class="player-label" for="volume">Volume</label>
                    <input id="volume-slider" name="volume" type="range" min="0" max="1" step="any" value="1"/>
                </div>
            </div>
            <div class="mini-player" id="mini-player" hidden>
                <div class="song-info">
                    <!-- Song Title -->
                    <div class="song-title mini-player-label"><a id="mini-player-title">Not Playing</a></div>

                    <!-- Song Artist(s) -->
                    <div class="mini-player-label">
                        <a class="profile-link" id="mini-player-artist"></a>
                        <span class="profile-link" id="mini-player-collabs"></span>
                    </div>
                </div>
                <div class="mini-player-controls">
                    <button onclick="showBigPlayer()" title="Show Big Player" class="player-button">
                        <img class="lsp_btn_show02">
                    </button>
                    <button onclick="songPlayPause()" title="Play" class="player-button">
                        <img class="lsp_btn_pause02" id="mini-play-pause-button">
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>

