{% macro comment_thread(threadid, current_userid, thread_userid, comments) %}
    <div class="comment-thread">
        {% if current_userid %}
        <a href="/comment?threadid={{ threadid }}" class="song-list-button" title="Add a Comment"><img class="lsp_btn_add02" /></a>
        {% endif %}

        {% for comment in comments %}
        <div class="boxy-lite">

            <a href="/users/{{ comment['username'] }}" class="profile-link">{{ comment['username'] }}</a>:
            {{ (comment['content'].replace("\n", "<br>"))|safe }}

            {% if current_userid == comment['userid'] or current_userid == thread_userid %}
            <div class="comment-button-container">
                <!-- Only commenter can edit comment -->
                {% if current_userid == comment['userid'] %}
                <a href="/comment?commentid={{ comment['commentid'] }}&threadid={{ threadid }}" class="song-list-button" title="Edit">
                    <img class="lsp_btn_edit02" />
                </a>
                {% endif %}

                <!-- Commenter and content owner can delete comment -->
                <a href="/delete-comment/{{ comment['commentid'] }}" onclick="return confirm(&#34;Are you sure you want to delete this comment?&#34;)" class="song-list-button" title="Delete">
                    <img class="lsp_btn_delete02" />
                </a>
            </div>
            {% endif %}

            {% for reply in comment['replies'] %}
            <div class="boxy-lite">

                <a href="/users/{{ reply['username'] }}" class="profile-link">{{ reply['username'] }}</a>:
                {{ (reply['content'].replace("\n", "<br>"))|safe }}

                {% if current_userid == reply['userid'] or current_userid == thread_userid %}
                <div class="comment-button-container">
                    <!-- Only commenter can edit comment -->
                    {% if current_userid == reply['userid'] %}
                    <a href="/comment?commentid={{ reply['commentid'] }}&threadid={{ threadid }}&replytoid={{ comment['commentid'] }}" class="song-list-button" title="Edit">
                        <img class="lsp_btn_edit02" />
                    </a>
                    {% endif %}

                    <!-- Commenter and content owner can delete comment -->
                    <a href="/delete-comment/{{ reply['commentid'] }}" onclick="return confirm(&#34;Are you sure you want to delete this comment?&#34;)" class="song-list-button" title="delete">
                        <img class="lsp_btn_delete02" />
                    </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}

            <div class="comment-button-container">
                <a href="/comment?threadid={{ threadid }}&replytoid={{ comment['commentid'] }}">Reply</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endmacro %}
