{% extends "base.html" %}

{% block title %}Little Song Place{% endblock %}

{% block left %}
{% if ongoing_events or upcoming_events %}
<div class="page-section">
    <div class="page-section-header">jams</div>
    {% from "jam-event-list.html" import jam_event_list %}
    {{ jam_event_list("ongoing events", ongoing_events, "ends", "end") }}
    {{ jam_event_list("upcoming events", upcoming_events, "starts", "start") }}
</div>
{% endif %}
{% endblock %}

{% block body %}

<div class="page-section">
    <div class="page-section-header">tunes</div>
    {% include "song-list.html" %}
</div>

{% endblock %}

{% block right %}

<div class="page-section">
    <div class="page-section-header">folks</div>
    <div class="user-list">
        {% for user in users %}
        <div class="user-list-entry-container">
            <a href="/users/{{ user['username'] }}" class="user-list-entry" style="--yellow:{{ user['bgcolor'] }};--black:{{ user['fgcolor'] }};--purple:{{ user['accolor'] }};">
                {% if user['has_pfp'] -%}
                <img class="small-pfp" src="/pfp/{{ user['userid'] }}" width="32" height="32" />
                {%- endif %}
                <span>{{ user['username'] }}</span>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
