{% extends "base.html" %}

{% block title %}{% if not event.hidden %}{{ event.title }} - {% endif %}{{ jam.title }}{% endblock %}

{% block body %}

<h1>{% if event.hidden -%}[Upcoming Event]{%- else -%}{{ event.title }}{%- endif %} - {{ jam.title }}</h1>

<div id="jam-event-view">
    <div class="info">
        <strong>Host:</strong>
            <a href="/users/{{ jam.ownername }}" class="profile-link">{{ jam.ownername }}</a>
            <br/>
        {% if event.startdate %}
        <strong>Start Date:</strong>
            <span class="date" data-date="{{ event.startdate.isoformat() }}"><!-- Populated by nav.js --></span>
            <br/>
        {% endif %}
        {% if event.enddate %}
        <strong>End Date:</strong>
            <span class="date" data-date="{{ event.enddate.isoformat() }}"><!-- Populated by nav.js --></span>
        {% endif %}
    </div>

    {% if session["userid"] == jam.ownerid -%}
    <div class="actions">
    <button class="song-list-button" onclick="showJamEventEditor()" title="Edit"><img class="lsp_btn_edit02" /></button>
    <a href="/jams/{{ jam.jamid }}/delete" class="song-list-button" onclick="return confirm('Are you sure you want to delete this jam and all events?')" title="Delete"><img class="lsp_btn_delete02" /></a>
    </div>
    {%- endif %}

    <div class="jam-description">
        <h2>Event Details</h2>
        {% if event.hidden -%}
        <em>Event details are hidden until the event starts.</em>
        {%- else -%}
        {{ (event.description.replace("\n", "<br>"))|safe }}
        {%- endif %}
    </div>

    <h2>About the Jam</h2>
    <div>
        <strong><a href="/jams/{{ jam.jamid }}">{{ jam.title }}</a></strong>
    </div>
    <br/>
    <div>
    {{ jam.description }}
    </div>

    {% if not event.hidden -%}
    <h2>Entries</h2>
    <a class="button" href="/edit-song?eventid={{ event.eventid }}">Submit a Song</a>
    <br/>
    <br/>
    {% if songs %}<p><small>This event has received {{ songs|length }} {% if songs|length > 1 %}entries{% else %}entry{% endif %}</small></p>{% endif %}
    {% include "song-list.html" %}
    {%- endif %}

    <h2>Comments</h2>
    {% from "comment-thread.html" import comment_thread %}
    {{ comment_thread(event.threadid, session['userid'], jam.ownerid, event.comments) }}
</div> <!-- jam-event-view -->

{% if session["userid"] == jam.ownerid -%}
<div id="jam-event-edit" hidden>
    <form action="/jams/{{ jam.jamid }}/events/{{ event.eventid }}/update" method="post">
        <label>Title<br/><input type="text" name="title" value="{{ event.title }}"/></label>
        <br/>
        <label>
            Details
            <textarea name="description">{{ event.description|safe }}</textarea>
        </label>
        <br/>
        <label>
            Event Start (When the event title and description become public)<br/>
            <input type="datetime-local" name="startdate" value="{% if event.startdate %}{{ event.startdate.replace(tzinfo=None).isoformat() }}{% endif %}" required/> (UTC)
        </label>
        <br/>
        <label>
            Event End (When submitted songs become public)<br/>
            <input type="datetime-local" name="enddate" value="{% if event.enddate %}{{ event.enddate.replace(tzinfo=None).isoformat() }}{% endif %}" required/> (UTC)
        </label>
        <br/>
        <br/>
        <input type="submit" value="Save"/>&nbsp;&nbsp;&nbsp;<a href="javascript:hideJamEventEditor()">Cancel</a>
    </form>
</div> <!-- jam-event-edit -->

<script>
function showJamEventEditor() {
    document.getElementById("jam-event-view").hidden = true;
    document.getElementById("jam-event-edit").hidden = false;
}
function hideJamEventEditor() {
    document.getElementById("jam-event-view").hidden = false;
    document.getElementById("jam-event-edit").hidden = true;
}
</script>
{%- endif %} {# jam owner #}

{% endblock %}
