{% extends "base.html" %}

{% block title %}Jams{% endblock %}

{% block body %}

<h1>jams</h1>

<h2>events</h2>
{% from "jam-event-list.html" import jam_event_list %}
{{ jam_event_list("ongoing events", ongoing, "ends", "end") }}
{{ jam_event_list("upcoming events", upcoming, "starts", "start") }}
{{ jam_event_list("recent events", past, "ended", "end") }}

<h2>all jams</h2>
<ul class="jam-list">
    {% for jam in jams -%}
    <li><a href="/jams/{{ jam.jamid }}">{{ jam.title }}</a></li>
    {%- endfor %}
</ul>

{% endblock %}
