{% from "comment-thread.html" import comment_thread %}
{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block head -%}
<meta property="og:title" content="{{ name }}" />
<meta property="og:description" content="Playlist by {{ username }}" />
{%- endblock %}

{% block body -%}

<h1>{{ name }}</h1>

<p>
Playlist by <a href="/users/{{ username }}" class="profile-link">{{ username }}</a>
{% if session["userid"] == userid -%}
<span class="visibility-indicator">
[{% if private %}Private{% else %}Public{% endif %}]
</span>
{%- endif %}
</p>

{% if session["userid"] == userid -%}
<p class="playlist-actions">
<button class="song-list-button" onclick="showPlaylistEditor()" title="Edit"><img class="lsp_btn_edit02" /></button>
<a href="/delete-playlist/{{ playlistid }}" class="song-list-button" onclick="return confirm('Are you sure you want to delete this playlist?')" title="Delete"><img class="lsp_btn_delete02" /></a>
</p>

<script>
function showPlaylistEditor() {
    document.querySelector(".song-list").hidden = true;
    document.querySelector(".playlist-actions").hidden = true;
    document.querySelector(".playlist-editor").hidden = false;
}

function hidePlaylistEditor() {
    document.querySelector(".song-list").hidden = false;
    document.querySelector(".playlist-actions").hidden = false;
    document.querySelector(".playlist-editor").hidden = true;
}
</script>

{%- endif %}

{%- from "song-macros.html" import song_list -%}
{{ song_list(songs, current_user_playlists) }}

{% if session["userid"] == userid -%}
<!-- Drag-and-drop playlist editor -->
<div class="playlist-editor" hidden>
    <h2>Edit Playlist</h2>
    <form action="/edit-playlist/{{ playlistid }}" method="post" onsubmit="updateSongIds(event)">
        <label for="name">Playlist Name</label><br>
        <input name="name" type="text" maxlength="100" value="{{ name }}"/><br>

        <label for="type">Playlist Type:</label>
        <input name="type" type="radio" value="private" {% if private %}checked{% endif %} />
        <label for="private">Private</label>
        <input name="type" type="radio" value="public" {% if not private %}checked{% endif %}/>
        <label for="public">Public</label><br>

        <input id="playlist-songids-input" type="hidden" name="songids" value="-1" /> <!-- Populated by script on submit -->

        <p>Drag and drop songs to reorder them, or use the trash icon to remove them from the playlist.</p>

        <div class="edit-list">
            {%- for song in songs %}
            <div class="draggable-song" draggable="true" ondragstart="onSongDragStart(event)" ondragend="clearDragMarker(event)" ondragover="onSongDragOver(event)" ondrop="onSongDrop(event)">
                <span class="songid" hidden>{{ song.songid }}</span>
                <span class="song-title">{{ song.title }}</span> -
                <span class="song-artist">{{ song.username }}</span>
                <span style="margin: auto"></span>
                <button type="button" onclick="removeSong(event)" class="song-list-button" title="Remove" style="margin-right: 0px">
                    <img class="lsp_btn_delete02" alt="Delete">
                </button>
            </div>
            {%- endfor %}

            <!-- dummy song to move to end -->
            <div class="draggable-song" ondragover="onSongDragOver(event)" ondrop="onSongDrop(event)">
                &nbsp;
            </div>
        </div>

        <a href="javascript:hidePlaylistEditor()">Cancel</a>
        <input type="submit" value="Save" style="margin: 10px;"/>
    </form>

    <script>
    function updateSongIds(event) {
        var form = event.currentTarget;
        var editList = form.querySelector(".edit-list");
        var songids = [];
        for (const entry of editList.children) {
            var songidSpan = entry.querySelector(".songid");
            if (songidSpan) {
                songids.push(songidSpan.textContent);
            }
        }
        songids = songids.join(",");

        var songidsInput = form.querySelector("#playlist-songids-input");
        songidsInput.value = songids;
    }

    function onSongDragStart(event) {
        var list = event.currentTarget.closest(".edit-list");
        var index = [...list.children].indexOf(event.currentTarget);
        event.dataTransfer.setData("text", index.toString());
        event.dataTransfer.effectAllowed = "move";
    }

    function onSongDragOver(event) {
        event.preventDefault();
        event.dataTransfer.dropEffect = "move";
        clearDragMarker(event);
        if (event.currentTarget.previousElementSibling) {
            event.currentTarget.previousElementSibling.style.borderBottom = "3px solid var(--purple)";
        }
        event.currentTarget.style.borderTop = "3px solid var(--purple)";
    }

    function onSongDrop(event) {
        event.preventDefault();
        const data = event.dataTransfer.getData("text");
        var sourceIndex = parseInt(data);
        var list = event.currentTarget.closest(".edit-list");
        var sourceElement = list.children[sourceIndex];
        clearDragMarker(event);
        if (sourceElement !== event.currentTarget) {
            sourceElement.remove();
            list.insertBefore(sourceElement, event.currentTarget);
        }
    }

    function clearDragMarker(event) {
        var list = event.currentTarget.closest(".edit-list");
        for (const child of list.children) {
            child.style.borderTop = "";
            child.style.borderBottom = "";
        }
    }

    function removeSong(event) {
        event.currentTarget.closest(".draggable-song").remove();
    }
    </script>
</div>
{%- endif %}

{% if not songs -%}
<p>This playlist doesn't have any songs yet.  To add songs to the playlist, expand song details and use the "Add to Playlist..." dropdown.</p>
{%- endif %}

<h2>Comments</h2>
{{ comment_thread(threadid, session['userid'], userid, comments) }}

{%- endblock %}
