{% extends "base.html" %}
{% from "song-macros.html" import song_artist, song_details %}

{% block head %}
<meta property="og:title" content="{{ song.title }}" />
<meta property="og:description" content="Song by {{ song.username }}" />
{% endblock %}

{% block title %}{{ song.title }}{% endblock %}

{% block body %}

<h1>{{ song.title }}</h1>

<p>Song by {{ song_artist(song) }}</p>

<p class="song-actions">
<!-- Play Button -->
<span class="song" data-song="{{ song.json() }}">
    <button onclick="return play(event)" class="song-list-button" title="Play">
        <img class="lsp_btn_play02" alt="Play">
    </button>
</span>
{% if session["userid"] == song.userid -%}
<a href="/edit-song?songid={{ song.songid }}" class="song-list-button" title="Edit"><img class="lsp_btn_edit02" /></a>
<a href="/delete-song/{{ song.songid }}" class="song-list-button" onclick="return confirm('Are you sure you want to delete this song?')" title="Delete"><img class="lsp_btn_delete02" /></a>
<a href="/song/{{ song.userid }}/{{ song.songid }}?action=download" class="song-list-button" download="{{ song.title }}.mp3" title="Download mp3 File"><img class="lsp_btn_download02" /></a>
{%- endif %}
</p>

{{ song_details(song, current_user_playlists, hidden=False) }}

{% endblock %}
