{% extends "base.html" %}

{% block title %}Songs{% endblock %}

{% block body %}

<h1>songs</h1>

{% if user %}
    <div class="filter">
        By: {{ user }} {% if tag %}<a href="/songs?tag={{ tag }}" class="filter-remove">(remove filter)</a>{% endif %}
    </div>
{% endif %}

{% if tag %}
    <div class="filter">
        With tag: {{ tag }} {% if user %}<a href="/songs?user={{ user }}" class="filter-remove">(remove filter)</a>{% endif %}
    </div>
{% endif %}

{% from "song-macros.html" import song_list %}
{{ song_list(songs, current_user_playlists) }}

{% endblock %}
