{% from "comment-thread.html" import comment_thread %}

{% macro song_artist(song) %}
<span class="song-artist">
    <a href="/users/{{ song.username }}" class="profile-link">{{ song.username }}</a>

    <!-- Song Collaborators -->
    {% for collab in song.collaborators %}
    {% if collab.startswith("@") -%}
    <a href="/users/{{ collab[1:] }}" class="profile-link">{{ collab[1:] }}</a>
    {%- else -%}
    <span class="collab-name">{{ collab }}</span>
    {%- endif %}
    {% endfor %}
</span>
{% endmacro %}

{% macro song_info(song) %}
<div class="song-info">
    <!-- Song Title -->
    <div class="song-title">
        {%- if song.hidden %}<span class="visibility-indicator" title="This song is not visible to others until the end of the event">[Hidden]</span>{% endif %}
        <a href="/song/{{ song.userid }}/{{ song.songid }}?action=view">{{ song.title }}</a>
    </div>

    <!-- Song Artist(s) -->
    {{ song_artist(song) | indent(4) }}
</div>
{% endmacro %}

{% macro song_details(song, current_user_playlists, hidden=True) %}
<div class="song-details" {% if hidden %}hidden{% endif %}>
    {% if current_user_playlists -%}
    <!-- Add to Playlist Buttons -->
    <div class="song-playlist-controls">
        <form action="/append-to-playlist" method="post">
            <input type="hidden" name="songid" value="{{ song.songid }}" id="playlist-selector-songid"/>
            <select name="playlistid" onchange="this.closest('form').requestSubmit(); setTimeout(() => {this.selectedIndex = 0}, 0)">
                <option value="-1">Add to Playlist...</option>
                {% for plist in current_user_playlists -%}
                <option value="{{ plist.playlistid }}">{{ plist['name'] }}</option>
                {%- endfor %}
            </select>
        </form>
    </div>
    {%- endif %}

    {% if song.description -%}
    <!-- Song Description -->
    <div class="song-description">{{ (song.description.replace("\n", "<br>"))|safe  }}</div>
    {%- endif %}

    {% if song.tags -%}
    <!-- Song Tags -->
    <div class="song-tags">
        Tags:
        {% for tag in song.tags %}
        <a href="/songs?user={{ song.username }}&tag={{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {%- endif %}

    {% if song.eventid %}
    <div class="song-event">
        Jam Event: <a href="/jams/{{ song.jamid }}/events/{{ song.eventid }}">{{ song.event_title }}</a>
    </div>
    {% endif %}

    <div class="song-date">
        Uploaded {{ song.created }}
    </div>

    <!-- Song Comments -->
    <strong>Comments</strong>
    {{ comment_thread(song.threadid, session["userid"], song.userid, song.get_comments()) }}
</div>
{% endmacro %}
