{% from "comment-thread.html" import comment_thread %}

{% macro song_artist(song) %}
<span class="song-artist">
    <a href="/users/{{ song.username }}" class="profile-link">{{ song.username }}</a>

    <!-- Song Collaborators -->
    {% for collab in song.collaborators %}
    {% if collab.startswith("@") -%}
    <a href="/users/{{ collab[1:] }}" class="profile-link">{{ collab[1:] }}</a>
    {%- else -%}
    <span class="collab-name">{{ collab }}</span>
    {%- endif %}
    {% endfor %}
</span>
{% endmacro %}

{% macro song_info(song) %}
<div class="song-info">
    <!-- Song Title -->
    <div class="song-title">
        {%- if song.hidden %}<span class="visibility-indicator" title="This song is not visible to others until the end of the event">[Hidden]</span>{% endif %}
        <a href="/song/{{ song.userid }}/{{ song.songid }}?action=view">{{ song.title }}</a>
    </div>

    <!-- Song Artist(s) -->
    {{ song_artist(song) | indent(4) }}
</div>
{% endmacro %}

{% macro song_details(song, current_user_playlists, hidden=True) %}
<div class="song-details" {% if hidden %}hidden{% endif %}>
    {% if current_user_playlists -%}
    <!-- Add to Playlist Buttons -->
    <div class="song-playlist-controls">
        <form action="/append-to-playlist" method="post">
            <input type="hidden" name="songid" value="{{ song.songid }}" id="playlist-selector-songid"/>
            <select name="playlistid" onchange="this.closest('form').requestSubmit(); setTimeout(() => {this.selectedIndex = 0}, 0)">
                <option value="-1">Add to Playlist...</option>
                {% for plist in current_user_playlists -%}
                <option value="{{ plist.playlistid }}">{{ plist['name'] }}</option>
                {%- endfor %}
            </select>
        </form>
    </div>
    {%- endif %}

    {% if song.description -%}
    <!-- Song Description -->
    <div class="song-description">{{ (song.description.replace("\n", "<br>"))|safe  }}</div>
    {%- endif %}

    {% if song.tags -%}
    <!-- Song Tags -->
    <div class="song-tags">
        Tags:
        {% for tag in song.tags %}
        <a href="/songs?user={{ song.username }}&tag={{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {%- endif %}

    {% if song.eventid %}
    <div class="song-event">
        Jam Event: <a href="/jams/{{ song.jamid }}/events/{{ song.eventid }}">{{ song.event_title }}</a>
    </div>
    {% endif %}

    <div class="song-date">
        Uploaded {{ song.created }}
    </div>

    <!-- Song Comments -->
    <strong>Comments</strong>
    {{ comment_thread(song.threadid, session["userid"], song.userid, song.get_comments()) }}
</div>
{% endmacro %}

{% macro song_list_entry(song, current_user_playlists, hidden=False) -%}
{%- if not (song.hidden and session['userid'] != song.userid) -%}
<div class="song" data-song="{{ song.json() }}" {% if hidden %}hidden{% endif %}>
    <div class="song-main">
        <div class="song-list-pfp-container">
            {%- if song.user_has_pfp %}
            <!-- Profile Picture -->
            <img class="small-pfp" src="/pfp/{{ song.userid }}" onerror="this.style.display = 'none'" width="32" height="32" />
            {%- endif %}
        </div>
        {{ song_info(song) | indent(8) }}
        <div class="song-buttons">
            <!-- Details Button -->
            <button onclick="return showSongDetails(event)" class="song-list-button details-toggle" title="Toggle Details">
                <img class="lsp_btn_show02" alt="Show Details">
            </button>

            <!-- Play Button -->
            <button onclick="return play(event)" class="song-list-button" title="Play">
                <img class="lsp_btn_play02" alt="Play">
            </button>
        </div>
    </div>
    {{ song_details(song, current_user_playlists) | indent(4) }}
</div>
{%- endif -%}
{%- endmacro %}

{% macro song_list(songs, current_user_playlists, show_first_only=False) -%}
<div class="song-list">
    {% if songs|length > 1 and not show_first_only %}
    <div class="song-list-controls">
        <label><input type="checkbox" name="shuffle" onchange="shuffleSongList(event)">Shuffle</label>
    </div>
    {% endif %}

    <div class="song-list-songs">
        {% for song in songs[:1] -%}
        {{ song_list_entry(song, current_user_playlists) | indent(8) }}
        {%- endfor %}
        {% for song in songs[1:] -%}
        {{ song_list_entry(song, current_user_playlists, hidden=show_first_only) | indent(8) }}
        {%- endfor %}
    </div>
</div>
{%- endmacro %}

