/* General */
:root {
    --yellow: #e8e6b5;
    --purple: #9373a9;
    --blue: #44b7b7;
    --black: #695c73;
}

body {
    background: var(--yellow);
    color: var(--black);
    font-family: sans-serif;
    border-color: var(--purple);
    max-width: 700px;
    margin: auto;
}

a {
    color: var(--black);
}

h1, h2, h3, h4 {
    color: var(--purple);
}

h2 {
    font-size: 20px;
}

textarea {
    font-family: sans-serif;
    font-size: 16px;
    color: var(--black);
    border: 3px solid var(--purple);
    border-radius: 10px;
    padding: 10px;
    background: var(--yellow);
    height: 100px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    resize: vertical;
    margin: 10px;
}

input[type=text], input[type=password], input[type=url] {
    background: var(--yellow);
    margin: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: var(--black);
    border: 3px solid var(--purple);
    border-radius: 10px;
    padding: 5px;
    width: 200px;
}

.button, input[type=submit] {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--yellow);
    background: var(--purple);
    border: 0px;
    border-radius: 5px;
    padding: 8px;
}

select {
    border: none;
    background-color: var(--purple);
    color: var(--yellow);
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
}

div.main {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

div.page-header {
    box-shadow: 0px 0px 20px 0px;
    border-radius: 10px;
    margin: 10px;
}

.flashes {
    border: 3px solid var(--blue);
    border-radius: 10px;
    margin: 20px;
}

.title-image {
    image-rendering: pixelated;
    width: 512px;
    max-width: 80%;
    margin: 10px;
}

.profile-link {
    font-weight: bold;
    /* color: var(--purple); */
}

.user-list-entry {
    padding: 5px;
}

/* Sliders (e.g. volume) */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: var(--black); /* Otherwise white in Chrome */
  height: 4px;
  border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: var(--purple);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: var(--purple);
    cursor: pointer;
}

/* Navbar */
div.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

#activity-indicator {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: var(--blue);
    display: inline-block;
}

/* Upload/Edit Form */

div.upload-form {
    margin-bottom: 10px;
}

div.upload-form input[type=text], div.upload-form input[type=url] {
    width: calc(100% - 20px);
    box-sizing: border-box;
}

input[type=file] {
    margin: 5px;
}

/* Profile */
.profile-name {
    text-align: center;
    font-size: 40px;
}

.big-pfp-container {
    margin: 0 auto;
    width: 200px;
    max-width: 40%;
    background: var(--purple);
    padding: 5px;
    border-radius: 10px;
}

.big-pfp {
    width: 100%;
    max-height: 200px;
    margin: 0px;
    padding: 0px;
    display: block;
    border-radius: 5px;
}

.small-pfp {
    max-width: 32px;
    max-height: 32px;
    margin: 0px;
    margin-left: 6px;
    border-radius: 5px;
    border: solid 2px var(--purple);
}

.profile-bio {
    margin: 10px 0px;
}

.profile-action {
    margin-bottom: 20px;
}

.profile-edit-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.playlist-list-entry {
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}

.playlist-type {
    opacity: 50%;
}

.draggable-song {
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Coloris Color Picker */

.clr-field button {
    width: 22px !important;
    height: 22px !important;
    left: 7px;
    right: auto;
    border-radius: 5px;
}

.clr-field input {
    padding-left: 36px;
    width: 100px;
    cursor: pointer;
}

/* Filters on /songs page */
.filter {
    margin: 5px;
}

.filter-remove {
    font-size: 12px;
}

/* Song Entry in Song List */
div.song-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.song {
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

div.song-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

div.song-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
    margin: 10px;
}

/* Artist on separate line for mobile */
@media screen and (max-width: 480px) {
    div.song-info {
        flex-direction: column;
        align-items: flex-start;
    }

    div.song-info-sep {
        display: none;
    }
}

div.song-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px;
}

.song-list-button {
    border: none;
    background: var(--yellow);
    cursor: pointer;
    padding: 0px;
}

.song-list-button img {
    image-rendering: pixelated;
    width: 32px;
}

div.song-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
    margin: 10px;
}

div.top-level-comment {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

div.reply-comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

div.comment-button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

[hidden] {
    display: none !important;
}

/* Song Player */
#scroll-padding {
    height: 160px;
}

div.player-container {
    position: fixed;
    max-width: 700px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

div.player {
    margin: 10px;
    padding: 10px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 20px 0px;
    border-radius: 10px;
    background: var(--yellow);
}

div.player-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*padding: 10px;*/
}

.player-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*padding: 0px 10px;*/
}

.player-volume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.player-button {
    display: inline-block;
    background: var(--yellow);
    cursor: pointer;
    padding: 0px;
    border: none;
}

#position-slider {
    width: 200px;
}

@media screen and (max-width: 480px) {
    #position-slider {
        width: 20%;
    }
}

#position-slider::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

#position-slider::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.player-button img {
    image-rendering: pixelated;
    width: 32px;
}

#volume-slider {
    width: 100px;
    max-width: 25%;
    margin-left: 10px;
}

.player-label {
    font-size: 14px;
}

/* Activity */
div.comment-notification {
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

/* Platform-specific global overrides */
@media screen and (max-width: 480px) {
    .desktop-only {
        display: none;
    }
}
