/* Song Entry in Song List */
div.song {
    display: flex;
    gap: 10px;
}

/* Song Player */
div.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    border: 3px solid #000;
    background: #fff;
}

div.player-info {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div.player-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50%;
}

a.player-button {
    display: inline-block;
}

#player-position {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
}

#player-position-bar {
    position: absolute;
    display: inline-block;
    background-color: #ccc;
    left: 100;
    top: 23px;
    width: 100%;
    height: 4px;
}

#player-position-dot {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    background-color: #555;
    top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
