/* General */
:root {
    --yellow: #e8e6b5;
    --purple: #9373a9;
    --blue: #8dcbc2;
    --black: #695c73;
}

body {
    background: var(--yellow);
    color: var(--black);
    font-family: sans-serif;
    border-color: var(--purple);
    max-width: 700px;
    margin: auto;
}

a {
    color: var(--black);
}

h1, h2, h3, h4 {
    color: var(--purple);
}

h2 {
    font-size: 20px;
}

textarea {
    font-family: sans-serif;
    color: var(--black);
    border: 3px solid var(--purple);
    border-radius: 10px;
    padding: 10px;
    background: var(--yellow);
    height: 100px;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=text], input[type=password] {
    background: var(--yellow);
    font-family: sans-serif;
    font-weight: bold;
    color: var(--black);
    border: 3px solid var(--purple);
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    margin: 5px;
}

.button, input[type=submit] {
    font-family: sans-serif;
    font-weight: bold;
    color: var(--yellow);
    background: var(--purple);
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}

div.main {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

div.page-header {
    box-shadow: 0px 0px 20px 0px;
    border-radius: 10px;
    margin: 10px;
}

.flashes {
    border: 3px solid var(--blue);
    border-radius: 10px;
    margin-top: 20px;
}

.title-image {
    image-rendering: pixelated;
    width: 512px;
    max-width: 80%;
    margin: 10px;
}

.profile-link {
    font-weight: bold;
    /* color: var(--purple); */
}

.user-list-entry {
    padding: 5px;
}

/* Sliders (e.g. volume) */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: var(--black); /* Otherwise white in Chrome */
  height: 4px;
  border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: var(--purple);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: var(--purple);
    cursor: pointer;
}

/* Navbar */
div.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

/* Upload/Edit Form */

div.upload-form input[type=text] {
    width: 100%;
    box-sizing: border-box;
}

input[type=file] {
    margin: 5px;
}

/* Profile */
.profile-name {
    text-align: center;
    font-size: 40px;
}

.profile-action {
    margin: 10px;
}

.profile-edit-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

/* Filters on /songs page */
.filter {
    margin: 5px;
}

.filter-remove {
    font-size: 12px;
}

/* Song Entry in Song List */
div.song-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.song {
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

div.song-main {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    margin: 5px;
}

div.song-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    flex-grow: 1;
    margin: 10px
}

/* Artist on separate line for mobile */
@media screen and (max-width: 480px) {
    div.song-info {
        flex-direction: column;
    }

    div.song-info-sep {
        display: none;
    }
}

div.song-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.song-list-button {
    border: none;
    background: var(--yellow);
    cursor: pointer;
    padding: 0px;
}

.song-list-button img {
    image-rendering: pixelated;
    width: 32px;
}

div.song-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
    margin: 10px;
}

div.top-level-comment {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

div.reply-comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

div.comment-button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

[hidden] {
    display: none !important;
}

/* Song Player */
#scroll-padding {
    height: 160px;
}

div.player-container {
    position: fixed;
    max-width: 700px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

div.player {
    margin: 10px;
    box-shadow: 0px 0px 20px 0px;
    border-radius: 10px;
    min-height: 100px;
    /*border-top: 3px solid;*/
    background: var(--yellow);
}

div.player-info {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.player-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50%;
    padding: 10px;
}

.player-button {
    display: inline-block;
    background: var(--yellow);
    cursor: pointer;
    padding: 0px;
    border: none;
}

#player-position {
    display: inline-block;
    position: relative;
    height: 32px;
    width: 50%;
}

#player-position-bar {
    position: absolute;
    display: inline-block;
    background-color: var(--black);
    left: 100;
    top: 14px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

#player-position-dot {
    position: absolute;
    display: inline-block;
    background-color: var(--purple);
    top: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.player-button img {
    image-rendering: pixelated;
    width: 32px;
}

#volume-slider {
    width: 25%;
}

.player-label {
    font-size: 14px;
}

/* Activity */
div.comment-notification {
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

/* Platform-specific global overrides */
@media screen and (max-width: 480px) {
    .desktop-only {
        display: none;
    }
}
