<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="icon" type="image/x-icon" href="/static/lsp_notes.png">
        <script src="/static/player.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Page-specific head fields -->
        {% block head %}
        {% endblock %}
    </head>
    <body>

        <div class="page-header">
            <div style="text-align: center;">
                <img src="/static/littlesongplace02.gif" class="title-image">
            </div>
            <!-- Navbar -->
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/site-news">News</a>
                {% if "username" in session %}
                    <a href="/users/{{ session["username"] }}">My Profile</a>
                    <a href="/activity"><span id="activity-indicator" hidden></span>Activity</a>
                    <a href="/logout">Sign Out</a>
                {% else %}
                    <a href="/signup">Create Account</a>
                    <a href="/login">Sign In</a>
                {% endif %}

                {% if "username" in session %}
                    Signed in as {{ session["username"] }}
                {% endif %}
            </div>
        </div>

        {% if "username" in session %}
        <!-- Periodically update activity status indicator -->
        <script>
            async function checkForNewActivity() {
                const indicator = document.getElementById("activity-indicator")
                const response = await fetch("/new-activity");
                if (!response.ok) {
                    console.log(`Failed to get activity: ${response.status}`);
                }
                const json = await response.json();
                indicator.hidden = !json.new_activity;
            }

            // Check for new activity every 10s
            setInterval(checkForNewActivity, 10000);
            checkForNewActivity();  // Check immediately
        </script>
        {% endif %}

        <!-- Stite Status Messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="flashes">
            <ul>
                {% for category, message in messages %}
                <li class="flash-msg {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        <!-- Page-Specific Content -->
        <div class="main">
        {% block body %}
        {% endblock %}
        </div>

        <!-- Padding to prevent player from obscuring content -->
        <div id="scroll-padding"></div>

        <!-- Song Player -->
        <div class="player-container" id="player-container">
            <div class="player" id="player" hidden>
                <div class="player-info">
                    <!-- TODO: Show song title, artist -->
                    <span id="player-title">Not Playing</span>
                    <span id="player-info-sep" hidden>-</span>
                    <a id="player-artist" class="profile-link" hidden></a>
                </div>
                <div class="player-controls">
                    <button onclick="songPrevious()" class="player-button">
                        <img src="/static/lsp_btn_prev02.gif" alt="Previous">
                    </button>
                    <button onclick="songPlayPause()" class="player-button">
                        <img src="/static/lsp_btn_pause02.gif" alt="Play" id="play-pause-button">
                    </button>
                    <button onclick="songNext()" class="player-button">
                        <img src="/static/lsp_btn_next02.gif" alt="Next">
                    </button>
                    <div id="player-position">
                        <span id="player-position-bar"></span>
                        <span id="player-position-dot"></span>
                    </div>
                    <span class="player-time" id="player-current-time">0:00</span>
                    <span class="player-time-sep">/</span>
                    <span class="player-time" id="player-total-time">0:00</span>
                    <audio id="player-audio"></audio>
                </div>
                <div class="player-controls desktop-only">
                    <label class="player-label" for="volume">Volume</label>
                    <input id="volume-slider" name="volume" type="range" min="0" max="1" step="any" value="1"/>
                </div>
            </div>
        </div>
    </body>
</html>

