<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css?v=2"/>
        <link rel="icon" type="image/x-icon" href="/static/lsp_notes.png?v=1"/>
        <script src="/static/player.js?v=1"></script>
        <script src="/static/nav.js?v=1"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Include coloris library for color picker -->
        <link rel="stylesheet" href="/static/coloris.min.css"/>
        <script src="/static/coloris.min.js"></script>

        <!-- Page-specific head fields -->
        {%- block head %}{% endblock %}
    </head>
    <body>

        <!-- Embedded image data -->
        {{ gif_data|safe }}

        <div class="page-header">
            <div style="text-align: center;">
                <img class="title-image littlesongplace02">
            </div>
            <!-- Navbar -->
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/site-news">News</a>

                <a href="/users/{{ session["username"] }}" class="nav-logged-in" id="my-profile" hidden>My Profile</a>
                <a href="/activity" class="nav-logged-in" hidden><span id="activity-indicator" hidden></span>Activity</a>
                <a href="/logout" class="nav-logged-in" hidden>Sign Out</a>

                <a href="/signup" class="nav-logged-out">Create Account</a>
                <a href="/login" class="nav-logged-out">Sign In</a>

                <span class="nav-logged-in" id="logged-in-status" hidden></span>
            </div>
        </div>

        <!-- Flashed Status Messages -->
        <div id="flashes-container">
            {% with messages = get_flashed_messages(with_categories=True) -%}
            {% if messages  -%}
            <div class="flashes">
                <ul>
                    {% for category, message in messages %}
                    <li class="flash-msg {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {%- endif %}
            {%- endwith %}
        </div>

        <!-- Page-Specific Content -->
        <div class="main" id="main" data-bgcolor="{{ bgcolor }}" data-fgcolor="{{ fgcolor }}" data-accolor="{{ accolor }}" data-username="{{ session['username'] }}">{% block body %}{% endblock %}</div>

        <!-- Padding to prevent player from obscuring content -->
        <div id="scroll-padding"></div>

        <!-- Song Player -->
        <div class="player-container" id="player-container">
            <div class="player" id="player" hidden>
                <div class="player-info">
                    <img id="player-pfp" class="small-pfp" src="" onerror="this.style.display = 'none'">
                    <a id="player-title">Not Playing</a>
                    <span id="player-info-sep" hidden>-</span>
                    <div>
                        <a id="player-artist" class="profile-link" hidden></a>
                        <span id="player-collabs"></span>
                    </div>
                </div>
                <div class="player-controls">
                    <button onclick="songPrevious()" class="player-button">
                        <img class="lsp_btn_prev02" alt="Previous">
                    </button>
                    <button onclick="songPlayPause()" class="player-button">
                        <img class="lsp_btn_pause02" alt="Play" id="play-pause-button">
                    </button>
                    <button onclick="songNext()" class="player-button">
                        <img class="lsp_btn_next02" alt="Next">
                    </button>
                    <input id="position-slider" name="song-position" type="range" min="0" max="1" step="any" value="0"/>
                    <span class="player-time" id="player-current-time">0:00</span>
                    <span class="player-time-sep">/</span>
                    <span class="player-time" id="player-total-time">0:00</span>
                    <audio id="player-audio"></audio>
                </div>
                <div class="player-volume desktop-only">
                    <label class="player-label" for="volume">Volume</label>
                    <input id="volume-slider" name="volume" type="range" min="0" max="1" step="any" value="1"/>
                </div>
            </div>
        </div>
    </body>
</html>

