<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %} Base {% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/player.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!-- Navbar -->
        <div class="navbar">
            {% if "username" in session %}
            <p>Signed in as {{ session["username"] }}</p>
            <a href="/logout">Sign Out</a>
            <a href="/users/{{ session["username"] }}">My Profile</a>
            {% else %}
            <a href="/login">Sign In</a>
            <a href="/signup">Create Account</a>
            {% endif %}
            <a href="/users">All Users</a>
            <a href="/">Home</a>
        </div>

        <!-- Stite Status Messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="flash-msg {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Page-Specific Content -->
        {% block body %}
        {% endblock %}

        <!-- Song Player -->
        <div class="player">
            <div class="player-info">
                <!-- TODO: Show song title, artist -->
                <span id="player-title">Not Playing</span>
                <span id="player-info-sep" hidden>-</span>
                <a id="player-artist" hidden></span>
            </div>
            <div class="player-controls">
                <a href="javascript:songPrevious()" class="player-button">&lt;&lt;</a>
                <a href="javascript:songPlayPause()" class="player-button">&gt;</a>
                <a href="javascript:songNext()" class="player-button">&gt;&gt;</a>
                <div id="player-position">
                    <span id="player-position-bar"></span>
                    <span id="player-position-dot"></span>
                </div>
                <span class="player-time" id="player-current-time">0:00</span>
                <span class="player-time-sep">/</span>
                <span class="player-time" id="player-total-time">0:00</span>
                <audio id="player-audio"></audio>
                <!-- TODO: Volume control -->
            </div>
        </div>
    </body>
</html>

