{% extends "base.html" %}

{% block title %}{% if song %}Edit Song{% else %}Upload Song{% endif %}{% endblock %}

{% block body %}

<p>
<em>Handy Tip:</em>
If you upload a video (e.g. a PS4/PS5 capture file), the audio will be extracted automatically!
Most standard audio/video formats are supported - .wav, .mp3, .ogg, .mp4, etc.
</p>

{% if song %}
<form action="/upload-song?songid={{ song.songid }}" method="post" enctype="multipart/form-data">
    <h2>Edit Song</h2>
{% else %}
<form action="/upload-song" method="post" enctype="multipart/form-data">
    <h2>Upload a New Song</h2>
{% endif %}
    <div class="upload-form">
        <label for="song">{% if song %}Replace {% endif %}Audio File</label><br>
        <input type="file" name="song" id="file-select" {% if not song %}required{% endif %}>
    </div>
    <div class="upload-form">
        <label for="title">Title</label><br>
        <input type="text" name="title" id="song-title" value="{{ song.title }}" maxlength="80" required>
    </div>
    <div class="upload-form">
        <label for="description">Description</label><br>
        <textarea name="description" maxlength="10000">{{ song.description }}</textarea>
    </div>
    <div class="upload-form">
        <label for="tags">Tags</label><br>
        <input type="text" name="tags" placeholder="country, extratone, vocals, ..." value="{{ ", ".join(song.tags) }}" maxlength="350">
    </div>
    <div class="upload-form">
        <label for="collabs">Collaborators</label><br>
        <input type="text" name="collabs" placeholder="@fren_user, John Doe, ..." value="{{ ", ".join(song.collaborators) }}" maxlength="350">
    </div>
    <div class="upload-form">
        {% if song %}
        <input type="submit" value="Update" onclick="onUpload(event)">
        {% else %}
        <input type="submit" value="Upload" onclick="onUpload(event)">
        {% endif %}
        <p id="uploading" hidden>uploading...</p>
    </div>
</form>

<!-- Automatically set song name from file name -->
<script>
document.getElementById("file-select").addEventListener("change", function(e) {
    var songTitle = document.getElementById("song-title");
    if (e.target.files[0] && !songTitle.value) {
        var name = e.target.files[0].name;
        songTitle.value = name.substring(0, name.length - 4);
    }
});

function onUpload(event) {
    var uploading = document.getElementById("uploading")
    uploading.hidden = false;
}
</script>

{% endblock %}
