{% extends "base.html" %}

{% block title %}{% if song %}Edit Song{% else %}Upload Song{% endif %}{% endblock %}

{% block body %}

<p>
<em>Handy Tip:</em>
If you upload a video (e.g. a PS4/PS5 capture file), the audio will be extracted automatically!
Most standard audio/video formats are supported - .wav, .mp3, .ogg, .mp4, etc.
</p>

{% if song %}
<form action="/upload-song?songid={{ song.songid }}" method="post" enctype="multipart/form-data" onsubmit="onUpload()">
    <h2>Edit Song</h2>
{% else %}
<form action="/upload-song" method="post" enctype="multipart/form-data" onsubmit="onUpload()">
    <h2>Upload a New Song</h2>
{% endif %}
    <div class="upload-form">
        <input type="radio" id="file" name="upload-type" value="file" onchange="selectUploadMethod()" checked />
        <label for="file">Upload a song from my device</label><br/>
    </div>
    <div class="upload-form">
        <input type="radio" id="yt" name="upload-type" value="yt" onchange="selectUploadMethod()" hidden/>
        <label for="yt" hidden>Import a song from YouTube</label>
        <small>(Looking for the YouTube importer?  Unfortunately it's currently broken - hopefully it will be back soon!)</small>
    </div>
    <div class="upload-form" id="audio-file">
        <label for="song-file">{% if song %}Replace {% endif %}Audio File</label><br>
        <input type="file" name="song-file" id="song-file" {% if not song %}required{% endif %}>
    </div>
    <div class="upload-form" id="yt-url" hidden>
        <label for="song-url">YouTube URL</label><br>
        <input type="url" name="song-url" id="song-url">
    </div>
    <div class="upload-form">
        <label for="title">Title</label><br>
        <input type="text" name="title" id="song-title" value="{{ song.title }}" maxlength="80" required>
    </div>
    <div class="upload-form">
        <label for="description">Description</label> (Common HTML tags (&lt;a&gt;, &lt;b&gt;, &lt;i&gt;, &lt;img&gt;, etc.) are allowed.)<br>
        <textarea name="description" maxlength="10000">{{ song.description }}</textarea>
    </div>
    <div class="upload-form">
        <label for="tags">Tags</label><br>
        <input type="text" name="tags" placeholder="country, extratone, vocals, ..." value="{{ ", ".join(song.tags) }}" maxlength="350">
    </div>
    <div class="upload-form">
        <label for="collabs">Collaborators</label><br>
        <input type="text" name="collabs" placeholder="@fren_user, John Doe, ..." value="{{ ", ".join(song.collaborators) }}" maxlength="350">
    </div>
    <div class="upload-form">
        {% if song %}
        <input type="submit" value="Update" />
        {% else %}
        <input type="submit" value="Upload" />
        {% endif %}
        <p id="uploading" hidden>uploading...</p>
    </div>
</form>

<script>
// Automatically set song name from file name
document.getElementById("song-file").addEventListener("change", function(e) {
    var songTitle = document.getElementById("song-title");
    if (e.target.files[0] && !songTitle.value) {
        var name = e.target.files[0].name;
        songTitle.value = name.substring(0, name.length - 4);
    }
});

// Show uploading text on submit
function onUpload(event) {
    var uploading = document.getElementById("uploading")
    uploading.hidden = false;
}

// Toggle YouTube import/File upload
function selectUploadMethod() {
    if (document.getElementById("file").checked) {
        // Show audio file upload button
        document.getElementById("yt-url").hidden = true;
        document.getElementById("song-url").required = false;

        document.getElementById("audio-file").hidden = false;
        document.getElementById("song-file").required = {% if song %}false{% else %}true{% endif %};
    }
    else {
        // Show youtube import URL box
        document.getElementById("yt-url").hidden = false;
        document.getElementById("song-url").required = {% if song %}false{% else %}true{% endif %};

        document.getElementById("audio-file").hidden = true;
        document.getElementById("song-file").required = false;
    }
}

document.addEventListener("DOMContentLoaded", selectUploadMethod());

</script>

{% endblock %}
