{% if use_xml %}{% extends "base.xml" %}{% else %}{% extends "base.html" %}{% endif %}

{% block title %}Little Song Place{% endblock %}

{% block body %}

<h2>Hello!</h2>
<p>
Welcome to the little song place!
</p>

<p>
If you encounter a bug or have ideas for things that would make the site
better, I'm open to any thoughts or feedback you have!  Just send me
(<a href="/users/cfulljames">cfulljames</a>) a message on Discord or email
<a href="mailto:littlesongplace@gmail.com">littlesongplace@gmail.com</a>. :)
</p>

<h2>Profiles</h2>
<p>Check out the music of the fine folks below!{% if not session["userid"] %}  If you create an account, you'll show up here too.{% endif %}</p>

{% for user in users %}
<a href="/users/{{ user }}" class="profile-link user-list-entry">{{ user }}</a>

{% endfor %}

<h2>Recently Uploaded Songs</h2>
<p>Listen to all the newest tunes!</p>
{{ song_list|safe }}

{% endblock %}
