{% if use_json %}{% extends "base.json" %}{% else %}{% extends "base.html" %}{% endif %}

{% block title %}Sign In{% endblock %}

{% block body %}

<h1>Sign In</h1>

{% if note %}
<div class="note">{{ note }}</div>
{% endif %}

<form method="post" action="/login">
    <div class="login-form">
        <label for="username">Username</label><br>
        <input type="text" name="username" maxlength="30" required></input>
    </div>

    <div class="login-form">
        <label for="password">Password</label><br>
        <input type="password" name="password" maxlength="100" required></input>
    </div>

    <div class="login-form">
        <input type="submit" value="Let's Go!"></input>
    </div>
</form>

<p><small>
    Forgot your password?  Send me (cfulljames) a message on Discord or email
    <a href="mailto:littlesongplace@gmail.com">littlesongplace@gmail.com</a>! 😉
</small></p>

{% endblock %}

