{% extends "base.html" %}

{% block title %}Site News{% endblock %}

{% block body %}

<h1>Site News</h1>

<h2>2025-01-26 - Improved media format support</h2>
<p>
The song upload form now supports just about any audio format you can imagine!
It will even extract audio from video files automagically.
</p>

<h2>2025-01-25 - Launch day!</h2>
<p>
A few minor tweaks right out of the gate!
</p>
<ul>
    <li>Added site news!</li>
    <li>You can now click a song title to get a direct link for the song</li>
    <li>A much needed visual contrast bump</li>
    <li>Song lists now look way better on mobile</li>
</ul>

{% endblock %}

