{% if use_xml %}{% extends "base.xml" %}{% else %}{% extends "base.html" %}{% endif %}

{% block title %}Site News{% endblock %}

{% block body %}

<h1>Site News</h1>

<h2>2025-02-16 - Playlists</h2>
<p>
Do you need specific songs in a specific order?  Have I got the feature for
you! Create the perfect road trip playlist, DJ your nephew's birthday party, or
organize your songs into albums.
</p>
<ul>
    <li>Playlists!</li>
    <li>Profile colors now also apply to individual songs and playlists</li>
    <li>On PC, you can use the left and right arrow keys to jump forward/back 10 seconds while a song is playing</li>
    <li>The upload date is now displayed in song details</li>
</ul>

<h2>2025-02-08 - Profile Update & YouTube Importer</h2>
<p>
Make your profile your own by uploading a slick PFP and selecting custom
colors!  And now you can import songs directly from YouTube - just paste the
video URL into the upload form.
</p>
<ul>
    <li>Profile pictures</li>
    <li>Profile color customization</li>
    <li>YouTube Importer</li>
    <li>Hopefully fixed rendering glitches in iOS Safari - only time will tell :/</li>
    <li>A few tweaks to the song player aesthetics</li>
</ul>

<h2>2025-02-01 - Comments!</h2>
<p>
The first big update!  A whole bunch of stuff has changed, but the biggest
feature by far is the new comment system.  You can now comment on songs, reply
to comments, edit those comments, and see the latest comments on your songs on
the new Activity page.  Go say nice things about people's songs!
</p>
<ul>
    <li>Comments, replies, and a new Activity page to show the newest comments on your songs</li>
    <li>Color palette update (I'll admit, the old background was too yellow even for me, a proud yellow enjoyer)</li>
    <li>Song descriptions can now contain multiple lines and HTML formatting (including links!)</li>
    <li>
        Better support for audio playback on mobile:
        <ul>
            <li>Song title and artist should show up on your lock screen</li>
            <li>You can now skip to the next/previous track from your lock screen player</li>
        </ul>
    </li>
    <li>Volume control on desktop</li>
    <li>Song details are expanded by default when viewing a single song</li>
    <li>Tons of minor tweaks and improvements to the look and feel of the site</li>
</ul>

<h2>2025-01-26 - Improved media format support</h2>
<p>
The song upload form now supports just about any audio format you can imagine!
It will even extract audio from video files automagically.
</p>

<h2>2025-01-25 - Launch day!</h2>
<p>
A few minor tweaks right out of the gate!
</p>
<ul>
    <li>Added site news!</li>
    <li>You can now click a song title to get a direct link for the song</li>
    <li>A much needed visual contrast bump</li>
    <li>Song lists now look way better on mobile</li>
</ul>

{% endblock %}

