{% extends "base.html" %}

{% block title %}{{ name }}'s Profile{% endblock %}

{% block body %}

<h1 class="profile-name">{{ name }}</h1>

<h2>Songs</h2>

<!-- Upload New Song button -->
{% if session["userid"] == userid %}
<a href="/edit-song">Upload New Song</a>
{% endif %}


<!-- TODO: This is duplicated in songs-by-tag.html -->
{% for song in songs %}
<div class="song">
    <!-- Song Title -->
    <div class="song-title"><h3>{{ song["title"] }}</h3></div>

    <!-- Owner-Specific Buttons (Edit/Delete) -->
    {% if session["userid"] == userid %}
    <div class="song-edit-button">
    <a href="/edit-song/{{ song["userid"] }}/{{ song["songid"] }}">Edit</a>
    </div>
    <div class="song-delete-button">
    <a href="/delete-song/{{ song["userid"] }}/{{ song["songid"] }}">Delete</a>
    </div>
    {% endif %}

    <!-- Play Button -->
    <audio src="/song/{{ song["userid"] }}/{{ song["songid"] }}" controls></audio>

    <!-- Song Description -->
    <div class="song-description">{{ song["description"] }}</div>

    <!-- Song Tags -->
    <div class="song-tags">
        {% for tag in songs_tags[song["songid"]] %}
        <a href="/songs-by-tag/{{ tag["tag"] }}">{{ tag["tag"] }}</a>
        {% endfor %}
    </div>

    <!-- Song Collaborators -->
    <div class="song-collabs">
        {% for collab in songs_collaborators[song["songid"]] %}
            {% if collab["name"].startswith("@") %}
            <a href="/users/{{ collab["name"][1:] }}" class="collab-link">{{ collab["name"] }}</a>
            {% else %}
            <span class="collab-name">{{ collab["name"] }}</span>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}

