{% extends "base.html" %}

{% block title %}{{ name }}'s Profile{% endblock %}

{% block body %}

<h1 class="profile-name">{{ name }}</h1>

{% if name == username %}
<form action="/uploadsong" method="post" enctype="multipart/form-data">
    <div class="upload-form">
        <input type="file" name="song" accept=".mp3"></input>
    </div>
    <div class="upload-form">
        <input type="text" name="title"></input>
    </div>
    <div class="upload-form">
        <input type="text" name="description"></input>
    </div>
    <div class="upload-form">
        <input type="submit" value="Upload"></input>
    </div>
</form>
{% endif %}

{% for song in songs %}
<div class="song">
    <div class="song-title">{{ song["title"] }}</div>
    <audio src="/song/{{ song["userid"] }}/{{ song["songid"] }}" controls></audio>
    <div class="song-description">{{ song["description"] }}</div>
</div>
{% endfor %}

{% endblock %}
