{% extends "base.html" %}

{% block title %}{{ name }}'s profile{% endblock %}

{% block body %}

<!-- Username -->
<h1 class="profile-name">{{ name }}</h1>

<!-- Profile Picture -->
{% if user_has_pfp %}
<div class="big-pfp-container">
    <img src="/pfp/{{ userid }}" onerror="hidePfp(this)" class="big-pfp">
</div>
{% endif %}

<script>
    function hidePfp(pfp) {
        pfp.parentElement.hidden = true;
    }
</script>

<!-- Bio -->
<div class="profile-bio" id="profile-bio">{{ (bio.replace("\n", "<br>"))|safe }}</div>

<!-- Profile edit form -->
{% if session["userid"] == userid %}

<div class="profile-action">
    <button class="song-list-button" onclick="showEditForm()" id="profile-bio-edit-btn" title="Edit Profile"><img class="lsp_btn_edit02" /></button>
</div>

<form id="profile-edit-form" action="/edit-profile" method="post" enctype="multipart/form-data" hidden>
    <h2> Profile Picture </h2>
    <input type="file" name="pfp" accept="image/png, image/jpeg, image/gif, image/svg" />

    <h2> Profile Colors </h2>
    <table>
        <tr>
            <td> <label for="bgcolor">Background</label> </td>
            <td> <input name="bgcolor" type="text" id="bgcolor-input" value="{{ bgcolor }}" readonly data-coloris oninput="updateColor('--yellow', this.value)"/> </td>
        </tr>
        <tr>
            <td> <label for="fgcolor">Text</label> </td>
            <td> <input name="fgcolor" type="text" id="fgcolor-input" value="{{ fgcolor }}" readonly data-coloris oninput="updateColor('--black', this.value)"/> </td>
        </tr>
        <tr>
            <td> <label for="accolor">Accent</label> </td>
            <td> <input name="accolor" type="text" id="accolor-input" value="{{ accolor }}" readonly data-coloris oninput="updateColor('--purple', this.value)"/> </td>
        </tr>
        <script>
            function updateColor(name, value) {
                document.documentElement.style.setProperty(name, value);
                updateImageColors();
            }

            function resetColors() {
                var bginput = document.getElementById("bgcolor-input");
                bginput.value = "#e8e6b5";
                bginput.dispatchEvent(new Event('input', { bubbles: true }));

                var fginput = document.getElementById("fgcolor-input");
                fginput.value = "#695c73";
                fginput.dispatchEvent(new Event('input', { bubbles: true }));

                var acinput = document.getElementById("accolor-input");
                acinput.value = "#9373a9";
                acinput.dispatchEvent(new Event('input', { bubbles: true }));
            }
        </script>
    </table>
    <button type="button" class="button" onclick="resetColors()">Reset Colors</button>
    <script>
        Coloris({
            alpha: false,
            focusInput: false,
        });
    </script>

    <h2> Edit Bio </h2>
    <p>Common HTML tags (&lt;a&gt;, &lt;b&gt;, &lt;i&gt;, &lt;img&gt;, etc.) are allowed.</p>
    <p>Examples:</p>
    <ul>
        <li>&lt;b&gt;<b>bold</b>&lt;/b&gt;</li>
        <li>&lt;i&gt;<i>italic</i>&lt;/i&gt;</li>
        <li>&lt;a href=&quot;https://littlesong.place&quot;&gt;<a href="https://littlesong.place">link</a>&lt;/a&gt;</li>
        <li>&lt;span style=&quot;color: blue;&quot;&gt;<span style="color: blue">blue</span>&lt;/span&gt;</li>
    </ul>
    <div>
        <textarea name="bio" maxlength="10000">{{ bio }}</textarea>
    </div>
    <div class="profile-edit-buttons">
        <a href="javascript:hideEditForm();">Cancel</a>
        <input type="submit" value="Save" class="button">
    </div>
</form>

<!-- Show/hide profile edit form -->
<script>
    function showEditForm() {
        document.getElementById("profile-bio").hidden = true;
        document.getElementById("profile-bio-edit-btn").hidden = true;
        document.getElementById("profile-edit-form").hidden = false;
    }
    function hideEditForm() {
        document.getElementById("profile-bio").hidden = false;
        document.getElementById("profile-bio-edit-btn").hidden = false;
        document.getElementById("profile-edit-form").hidden = true;
    }
</script>

{% endif %}

{% if session["userid"] == userid or playlists -%}
<h2>Playlists</h2>
{%- endif %}

<!-- Add Playlist button/form -->
{% if session["userid"] == userid -%}
<div class="profile-action">
    <button type="button" class="song-list-button" id="add-playlist-button" onclick="showAddPlaylist()" title="Add Playlist"><img class="lsp_btn_add02" /></button>
    <form action="/create-playlist" method="post" id="create-playlist-form" hidden>
        <label for="name">Playlist Name</label><br>
        <input name="name" type="text" maxlength="100" /><br>

        <label for="type">Playlist Type:</label>
        <input name="type" type="radio" value="private" checked/>
        <label for="private">Private</label>
        <input name="type" type="radio" value="public"/>
        <label for="public">Public</label><br>

        <a href="javascript:hideAddPlaylist();">Cancel</a>
        <input type="submit" value="Create Playlist" style="margin: 10px;"/>
    </form>
    <script>
        function showAddPlaylist() {
            document.getElementById("add-playlist-button").hidden = true;
            document.getElementById("create-playlist-form").hidden = false;
        }
        function hideAddPlaylist() {
            document.getElementById("add-playlist-button").hidden = false;
            document.getElementById("create-playlist-form").hidden = true;
        }
    </script>
</div>
{%- endif %}

{% if playlists -%}
<div class="playlist-list">
    {% for plist in playlists -%}
    <div class="playlist-list-entry">
        <a class="playlist-name" href="/playlists/{{ plist['playlistid'] }}">{{ plist['name'] }}</a>
        <!-- Only show playlist type to owner, everyone else only sees public playlists -->
        {% if session["userid"] == userid -%}
        <span class="playlist-type">
        [{% if plist['private'] %}Private{% else %}Public{% endif %}]
        </span>
        {%- endif %}
    </div>
    {%- endfor %}
</div>
{%- endif %}

{% if session["userid"] == userid or songs %}
<h2>Songs</h2>
{% endif %}

<!-- Add Song button -->
{% if session["userid"] == userid %}
<div class="profile-action">
    <a class="song-list-button" href="/edit-song" title="Add Song"><img class="lsp_btn_add02" /></a>
</div>
{% endif %}

<!-- Song List -->
{% include "song-list.html" %}

{% endblock %}

