{% if use_json %}{% extends "base.json" %}{% else %}{% extends "base.html" %}{% endif %}

{% block title %}Create Account{% endblock %}

{% block body %}
<h1>Create a new account</h1>
<p>Welcome to the site!</p>
<form method="post">
    <div class="signup-form">
        <label for="username">Username</label><br>
        <input type="text" name="username" maxlength="30"required></input>
    </div>

    <div class="signup-form">
        <label for="password">Password</label><br>
        <input type="password" name="password" maxlength="100" required></input>
    </div>

    <div class="signup-form">
        <label for="password_confirm">Confirm Password</label><br>
        <input type="password" name="password_confirm" maxlength="100" required></input>
    </div>

    <div class="signup-form">
        <input type="submit" value="Sign Up"></input>
    </div>
</form>

{% endblock %}


