{% extends "base.html" %}

{% block head %}
<meta property="og:title" content="{{ song.title }}" />
<meta property="og:description" content="Song by {{ song.username }}" />
<script>
    // Apply user colors
    document.addEventListener("DOMContentLoaded", (event) => {
        var rootStyle = document.documentElement.style;
        {% if user_bgcolor %} rootStyle.setProperty("--yellow", "{{ user_bgcolor }}"); {% endif %}
        {% if user_fgcolor %} rootStyle.setProperty("--black", "{{ user_fgcolor }}"); {% endif %}
        {% if user_accolor %} rootStyle.setProperty("--purple", "{{ user_accolor }}"); {% endif %}
    });
</script>
{% endblock %}

{% block title %}{{ song.title }}{% endblock %}

{% block body %}

{{ song_list|safe }}

{% endblock %}
